table,th,td
{
  /*border:0px solid black;*/
  /*border-collapse:collapse;*/
  text-align: center;
}

#yearSelect{
  position: absolute;
  height: 20px;
  width: 66px;
  color: #f4f9fc;
  background-color: #6a92b8;
  /*background-image:url("select2.png");*/
  background-repeat:repeat-x;
  margin-left: 50px;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0px -1px 1px #111111;
}

#monthSelect{
  position: absolute;
  height: 20px;
  width: 66px;
  color: #f4f9fc;
  background-color: #6a92b8;
  margin-left: 190px;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0px -1px 1px #111111;
}


div#calendarEntity{
  position: relative;
  width: 488px;
  height: 333px; 
  background-color: #eeeeee;
  margin: 0 auto;
  border-top:1px solid #888888;
  border-left:1px solid #888888;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;
  /*text-align: center;*/
}

#settings{
/*
  width: 600px;
  margin: 0 auto; 
  position: absolute;
  text-align: center;
  display: inline;*/
  position: absolute;
  margin-left:5px;
  margin-top:3px;
  height: 30px;
  width: 462px;
  background-image: url("images/setting2.png");
  background-repeat: repeat-x;
}
#nian{
  position: absolute;
  margin-left:120px;
  margin-top: 8px;
  color:#7fa7cb;
}
#yue{
  position: absolute;
  margin-left:260px;
  margin-top: 8px;
  color:#7fa7cb;
}
#setting-background-1{
  position: absolute;
  margin-left:-2px;
  margin-top: 0px;
  width: 30px;
  height:30px;
  background-image: url("images/setting1.png");
  background-repeat: no-repeat;
}
#setting-background-2{
  position: absolute;
  margin-left:462px;
  margin-top: 0px;
  width: 30px;
  height:30px;
  background-image: url("images/setting3.png");
  background-repeat: no-repeat;
}
#yearDown{
  position: absolute;
  background-image: url("images/arrow2.png");
  background-repeat: no-repeat;
  margin-left:25px;
  margin-top: 11px;
  width: 10px;
  height: 15px;
}
#yearUp{
  position: absolute;
  background-image: url("images/arrow1.png");
  background-repeat: no-repeat;
  margin-left:140px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}
#monthDown{
  position: absolute;
  background-image: url("images/arrow2.png");
  background-repeat: no-repeat;
  margin-left:165px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}
#monthUp{
  position: absolute;
  background-image: url("images/arrow1.png");
  background-repeat: no-repeat;
  margin-left:280px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}


#showToday{
  position: absolute;
  margin-left:350px;
  margin-top:5px;
  width: 100px;
  height: 20px;
  font-size:12px;
}



#fillMonth{
  position: absolute;
  margin-left: 3px;
  margin-top: 35px;
  width: 359px;
  height: 270px;
  border:1px solid #858fa2;
  border-radius: 8px;
  border-collapse: collapse;
}
tr.nameRow{
  border-bottom:2px solid #6a92b8;
  border-top:none;
  /*border-left:;
  border-right:;
  /*border-radius: 8px;*/
}
tr.monthRow{
  border:1px solid #858fa2;
}
div#sideBox{
  position: absolute;
  margin-left: 366px;
  margin-top: 35px;
  width:114px;
  height:270px;
  background-color: #6a92b8;
  border-radius: 5px;
}


th.weekend{
  color: #192a3a;
  /*border-radius: 5px 5px 0px 0px;*/
}
th.weekday{
  color: #f4f9fc;
}
th.dayId{
 background-color: #7fa7cb;
}
th{
  height:30px;
}
.chinese{
  font-size: 12px;
  font-family: Arial;
}
.number{
  font-size: 17px;
  font-family: Arial;
}
td.weekend{
  color:#d11e44;
}
td.weekday{
  color:#858fa2;
}
td.today{
  border-bottom: 1px solid #192a3a;
  background-color:#7fa7cb;
  color: #f4f9fc;
  text-shadow: 0px 0px 1px #192a3a;
}
td{
  background-color:#f4f9fc;
  border-collapse:collapse;
  font-weight: 600;
}
td.weekday:hover,td.weekend:hover,td.today:hover
{
  background-color:#b8cbdc;
}

#sideBox-1{
  border:2px solid #b8cbdc;
  /*-moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;*/
  border-radius: 8px;
  margin: 5px;
  font-size: 11px;
  font-family: Arial;
  color: #f4f9fc;
  background-color: #7fa7cb;
  text-align: center;  
}

#sideBox-2{
  border:2px solid #b8cbdc;
  border-radius: 8px;
  margin: 5px;
  height: 120px;
  padding: 14px;
  line-height: 20px;
  color: #192a3a;
  background-color: #7fa7cb;  
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
