table,th,td
{
  text-align: center;
}

#yearSelect{
  position: absolute;
  height: 21px;
  width: 66px;
  color: #f4f9fc;
  background-color: #6a92b8;
  background-image:url("images/select2.png");
  background-repeat:repeat-x;
  margin-left: 60px;
  margin-top: 5px;
  border: 0px;
  text-align: center;
  text-shadow: 0px -1px 1px #111111;
  font-weight: 600;  
}

#monthSelect{
  position: absolute;
  height: 21px;
  width: 66px;
  color: #f4f9fc;
  background-color: #6a92b8;
  background-image:url("images/select2.png");
  background-repeat:repeat-x; 
  margin-left: 210px;
  margin-top: 5px;
  border: 0px;
  text-align: center;
  text-shadow: 0px -1px 1px #111111;
  font-weight: 600;
}

#calendarEntity{
  position: relative;
  width: 488px;
  height: 333px; 
  background-color: #eeeeee;
  margin: 0 auto;
  border-top:1px solid #888888;
  border-left:1px solid #888888;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;
}

#settings{
  margin-left:5px;
  margin-top:3px;
  height: 30px;
  width: 462px;
  background-image: url("images/setting2.png");
  background-repeat: repeat-x;
}

/*warning: click on arrows will not trigger select list*/
#month-set-bcg1{
  position: absolute;
  margin-left:55px;
  margin-top: 5px;
  width: 30px;
  height:30px;
  background-image: url("images/select1.png");
  background-repeat: no-repeat;
  z-index:0;
}
#month-set-bcg2{
  position: absolute;
  margin-left:113px;
  margin-top: 5px;
  width: 30px;
  height:30px;
  background-image: url("images/select3.png");
  background-repeat: no-repeat;
  z-index:1;
}
#month-set-ar1{
  position: absolute;
  margin-left:110px;
  margin-top: 14px;
  width: 30px;
  height:30px;
  background-image: url("images/selectarrow1.png");
  background-repeat: no-repeat;
  z-index:2;
}
#month-set-ar2{
  position: absolute;
  margin-left:110px;
  margin-top: 6px;
  width: 30px;
  height:30px;
  background-image: url("images/selectarrow2.png");
  background-repeat: no-repeat;
  z-index:2;
}

#year-set-bcg1{
  position: absolute;
  margin-left:205px;
  margin-top: 5px;
  width: 30px;
  height:30px;
  background-image: url("images/select1.png");
  background-repeat: no-repeat;
  z-index:0;
}
#year-set-bcg2{
  position: absolute;
  margin-left:263px;
  margin-top: 5px;
  width: 30px;
  height:30px;
  background-image: url("images/select3.png");
  background-repeat: no-repeat;
  z-index:1;
}
#year-set-ar{
  position: absolute;
  margin-left:260px;
  margin-top: 10px;
  width: 30px;
  height:30px;
  background-image: url("images/selectarrow1.png");
  background-repeat: no-repeat;
  z-index:2;
}

#nian{
  position: absolute;
  margin-left:130px;
  margin-top: 8px;
  color:#6a92b8;
}
#yue{
  position: absolute;
  margin-left:280px;
  margin-top: 8px;
  color:#6a92b8;
}
#setting-background-1{
  position: absolute;
  margin-left:-2px;
  margin-top: 0px;
  width: 30px;
  height:30px;
  background-image: url("images/setting1.png");
  background-repeat: no-repeat;
}
#setting-background-2{
  position: absolute;
  margin-left:462px;
  margin-top: 0px;
  width: 30px;
  height:30px;
  background-image: url("images/setting3.png");
  background-repeat: no-repeat;
}
#yearDown{
  position: absolute;
  background-image: url("images/arrow2.png");
  background-repeat: no-repeat;
  margin-left:35px;
  margin-top: 11px;
  width: 10px;
  height: 15px;
}
#yearUp{
  position: absolute;
  background-image: url("images/arrow1.png");
  background-repeat: no-repeat;
  margin-left:150px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}
#monthDown{
  position: absolute;
  background-image: url("images/arrow2.png");
  background-repeat: no-repeat;
  margin-left:185px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}
#monthUp{
  position: absolute;
  background-image: url("images/arrow1.png");
  background-repeat: no-repeat;
  margin-left:300px;
  margin-top: 11px;
  width: 10px;
  height: 15px; 
}

#fillMonth{
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  width: 359px;
  height: 270px;
  border:1px solid #858fa2;
  border-radius: 5px 5px 5px 5px;
  border-collapse: separate;
  border-spacing: 0px;
}

#Sun{
  border-radius: 5px 0px 0px 0px;
}
#Sat{
  border-radius: 0px 5px 0px 0px;
}
td.month-left-bottom{
  border-radius: 0px 0px 0px 5px;
}
td.month-right-bottom{
  border-radius: 0px 0px 5px 0px;
}
th.weekend{
  color: #192a3a;
}
th.workday{
  color: #f4f9fc;
}
th.dayId{
 background-color: #7fa7cb;
}
th{
  border-bottom:2px solid #6a92b8;
  border-top:none;
  height:30px;
}
.chinese{
  font-size: 12px;
  font-family: "黑体";
}
.number{
  font-size: 17px;
  font-family: arial;
  
}
td.weekend{
  color:#d11e44;
}
td.workday{
  color:#858fa2;
}
td.today{
  border-bottom: 1px solid #192a3a;
  background-color:#7fa7cb;
  color: #f4f9fc;
  text-shadow: 0px 0px 1px #192a3a;
}
td{
  border-top:1px solid #858fa2;
  background-color:#f4f9fc;
  font-weight: 600;
}
td.workday:hover,td.weekend:hover,td.today:hover
{
  background-color:#b8cbdc;
}

/*may use the following instead of border-radius
  /*-moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;*/


#sideBox{
  position: relative;
  margin-left: 366px;
  margin-top: 3px;
  width:114px;
  height:270px;
  background-color: #6a92b8;
  border-radius: 5px;
}
#sideBox-1{
  border:2px solid #b8cbdc;
  border-radius: 7px;
  position:relative;
  top:3px;
  margin: 0px auto;
  width: 106px;
  font-size: 11px;
  font-family: Arial;
  color: #f4f9fc;
  background-color: #7fa7cb;
  text-align: center;
}
#sideBox-2{
  border:2px solid #b8cbdc;
  border-radius: 8px;
  margin: 5px;
  height: 120px;
  padding: 14px;
  line-height: 20px;
  color: #192a3a;
  background-color: #7fa7cb;  
}

#copyrightInfo{
  clear:both;
  position:relative;
  top:-6px;
  left:425px;
  color:#858fa2;
  font-size:12px;
  font-family:arial;  
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
